<launch>
    <arg name="machine" default="" />

    <node name="fcu" pkg="asctec_hl_interface" type="hl_node" output="screen" clear_params="true"
        machine="$(arg machine)">
		<rosparam file="$(find asctec_hl_interface)/launch/fcu_parameters.yaml" />
        <rosparam file="$(find asctec_hl_interface)/launch/ssdk_parameters.yaml" />        
    </node>
</launch>
